{{define "component/themeSwitchTemplate"}}
<template>
  <a-menu :theme="themeSwitcher.menuTheme" mode="inline" selected-keys="">
    <a-sub-menu>
      <span slot="title">
        <a-icon type="bulb" :theme="themeSwitcher.isDarkTheme || themeSwitcher.isLucifer ? 'filled' : 'outlined'"></a-icon>
        <span>{{ i18n "menu.theme" }}</span>
      </span>
      <a-menu-item id="change-theme-light" class="ant-menu-theme-switch">
        <a-radio :checked="themeSwitcher.theme === 'light'" @click="themeSwitcher.setTheme('light')">{{ i18n "menu.light" }}</a-radio>
      </a-menu-item>
      <a-menu-item id="change-theme-dark" class="ant-menu-theme-switch">
        <a-radio :checked="themeSwitcher.theme === 'dark'" @click="themeSwitcher.setTheme('dark')">{{ i18n "menu.dark" }}</a-radio>
      </a-menu-item>
      <a-menu-item id="change-theme-lucifer" class="ant-menu-theme-switch">
        <a-radio :checked="themeSwitcher.theme === 'lucifer'" @click="themeSwitcher.setTheme('lucifer')">Lucifer</a-radio>
      </a-menu-item>
      <a-menu-item id="change-theme-ultra" v-if="themeSwitcher.theme === 'dark'" class="ant-menu-theme-switch"
        @mousedown="themeSwitcher.animationsOffUltra()">
        <span>{{ i18n "menu.ultraDark" }}</span>
        <a-checkbox :style="{ marginLeft: '2px' }" :checked="themeSwitcher.isUltra"
          @click="themeSwitcher.toggleUltra()"></a-checkbox>
      </a-menu-item>
    </a-sub-menu>
  </a-menu>
</template>
{{end}}

{{define "component/themeSwitchTemplateLogin"}}
<template>
  <a-space @mousedown="themeSwitcher.animationsOff()" id="change-theme" direction="vertical" :size="10" :style="{ width: '100%' }">
    <a-radio-group :value="themeSwitcher.theme" @change="e => themeSwitcher.setTheme(e.target.value)" size="small">
      <a-radio-button value="light">{{ i18n "menu.light" }}</a-radio-button>
      <a-radio-button value="dark">{{ i18n "menu.dark" }}</a-radio-button>
      <a-radio-button value="lucifer">Lucifer</a-radio-button>
    </a-radio-group>
    <a-space v-if="themeSwitcher.isDarkTheme" direction="horizontal" size="small">
      <a-checkbox :checked="themeSwitcher.isUltra" @click="themeSwitcher.toggleUltra()"></a-checkbox>
      <span>{{ i18n "menu.ultraDark" }}</span>
    </a-space>
  </a-space>
</template>
{{end}}

{{define "component/aThemeSwitch"}}
<script>
  const THEME_CLASSES = ['light', 'dark', 'lucifer'];

  function normalizeTheme(theme) {
    return THEME_CLASSES.includes(theme) ? theme : 'light';
  }

  function applyThemeClass(el, theme) {
    if (!el) return;
    THEME_CLASSES.forEach((cls) => el.classList.remove(cls));
    el.classList.add(theme);
  }

  function syncThemeClasses(theme) {
    applyThemeClass(document.body, theme);
    applyThemeClass(document.getElementById('app'), theme);
    applyThemeClass(document.getElementById('message'), theme);
  }

  function scheduleThemeSync(theme) {
    if (typeof requestAnimationFrame === 'function') {
      requestAnimationFrame(() => syncThemeClasses(theme));
    }
    setTimeout(() => syncThemeClasses(theme), 50);
  }

  function createThemeSwitcher() {
    // Migrate old dark-mode setting to new theme system
    let theme = localStorage.getItem('theme');
    if (!theme) {
      const oldDarkMode = localStorage.getItem('dark-mode') === 'true';
      theme = oldDarkMode ? 'dark' : 'light';
      localStorage.setItem('theme', theme);
    }
    theme = normalizeTheme(theme);

    let isUltra = localStorage.getItem('isUltraDarkThemeEnabled') === 'true';

    // Ultra-dark only applies to dark theme, clear it for other themes
    if (theme !== 'dark') {
      isUltra = false;
      localStorage.setItem('isUltraDarkThemeEnabled', 'false');
      document.documentElement.removeAttribute('data-theme');
    } else if (isUltra) {
      document.documentElement.setAttribute('data-theme', 'ultra-dark');
    }

    syncThemeClasses(theme);
    scheduleThemeSync(theme);

    const switcher = {
      theme,
      isUltra,
      animationsOff() {
        document.documentElement.setAttribute('data-theme-animations', 'off');
      },
      animationsOffUltra() {
        document.documentElement.setAttribute('data-theme-animations', 'off');
        const themeAnimationsUltra = document.querySelector('#change-theme-ultra');
        if (themeAnimationsUltra) {
          themeAnimationsUltra.addEventListener('mouseleave', () => {
            document.documentElement.removeAttribute('data-theme-animations');
          });
          themeAnimationsUltra.addEventListener('touchend', () => {
            document.documentElement.removeAttribute('data-theme-animations');
          });
        }
      },
      get isDarkTheme() {
        return this.theme === 'dark';
      },
      get isLucifer() {
        return this.theme === 'lucifer';
      },
      get currentTheme() {
        return this.theme;
      },
      get menuTheme() {
        return this.theme === 'light' ? 'light' : 'dark';
      },
      resyncTheme() {
        syncThemeClasses(this.theme);
        scheduleThemeSync(this.theme);
      },
      setTheme(newTheme) {
        const normalizedTheme = normalizeTheme(newTheme);
        this.theme = normalizedTheme;
        localStorage.setItem('theme', normalizedTheme);
        syncThemeClasses(normalizedTheme);
        scheduleThemeSync(normalizedTheme);

        // Clear ultra-dark when switching away from dark
        if (normalizedTheme !== 'dark') {
          this.isUltra = false;
          document.documentElement.removeAttribute('data-theme');
          localStorage.setItem('isUltraDarkThemeEnabled', 'false');
        }

      },
      toggleTheme() {
        // Legacy support for old toggle
        const newTheme = this.theme === 'light' ? 'dark' : 'light';
        this.setTheme(newTheme);
      },
      toggleUltra() {
        this.isUltra = !this.isUltra;
        if (this.isUltra) {
          document.documentElement.setAttribute('data-theme', 'ultra-dark');
        } else {
          document.documentElement.removeAttribute('data-theme');
        }
        localStorage.setItem('isUltraDarkThemeEnabled', this.isUltra.toString());
      }
    };
    const resync = () => switcher.resyncTheme();
    window.addEventListener('focus', resync);
    document.addEventListener('visibilitychange', () => {
      if (!document.hidden) {
        resync();
      }
    });
    window.addEventListener('storage', (event) => {
      if (event.key !== 'theme') return;
      const nextTheme = normalizeTheme(event.newValue);
      if (nextTheme !== switcher.theme) {
        switcher.setTheme(nextTheme);
      }
    });
    return switcher;
  }
  const themeSwitcher = Vue.observable(createThemeSwitcher());
  Vue.component('a-theme-switch', {
    template: `{{template "component/themeSwitchTemplate"}}`,
    data: () => ({
      themeSwitcher
    }),
    mounted() {
      this.$message.config({
        getContainer: () => document.getElementById('message')
      });
      const messageEl = document.getElementById('message');
      if (messageEl) {
        messageEl.className = themeSwitcher.currentTheme;
      }
    }
  });
  Vue.component('a-theme-switch-login', {
    template: `{{template "component/themeSwitchTemplateLogin"}}`,
    data: () => ({
      themeSwitcher
    }),
    mounted() {
      this.$message.config({
        getContainer: () => document.getElementById('message')
      });
      const messageEl = document.getElementById('message');
      if (messageEl) {
        messageEl.className = themeSwitcher.currentTheme;
      }
    }
  });
</script>
{{end}}
